{% extends "base.html" %}
{% block title %} Servicios {% endblock %}

{% block pageHeader %}Agregar Servicio{% endblock %}

{% block content %}

<div class="panel panel-default">
    <div class="panel-heading">
       Nuevo
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-6">
                 <form role="form" method="POST">{% csrf_token %}
                    <div class="form-group">
                        <label for="{{ form.name.id_for_label }}">Nombre</label>
                        <input type="text" class="form-control" id="{{ form.name.id_for_label }}" name="{{ form.name.html_name }}"
                            placeholder="Nombre" value="{{ form.name.value|default_if_none:'' }}" maxlength="50" required>
                    </div>
                     <div class="form-group">
                         <label for="{{ form.url.id_for_label }}">URL</label>
                         <input type="url" class="form-control" id="{{ form.url.id_for_label }}" name="{{ form.url.html_name }}"
                            placeholder="URL" value="{{ form.url.value|default_if_none:'' }}" maxlength="50" required>
                     </div>

                <button type="submit" class="btn btn-default">Guardar</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}